<table class="table">
  <thead>
    <tr>
      
    </tr>
  </thead>

  <tbody>
    <% @menu_sections.each do |section_item| %>
      <tr class="menu-heading ">
        <td colspan="6"><h4><%=section_item.name%></h4></td>
      </tr>
      <% @menu_items.each do |menu_item| %>
        <% if menu_item.section == section_item.name %>
          <tr>
            <td><%= menu_item.name%></td>
            <td><%= menu_item.description%></td>
            <td><%= number_to_currency(menu_item.price, :unit => "$")%></td>
            <td><%= link_to "Add to Order" , add_to_cart_path(:menu_item_id => menu_item.id), :method => :post, class: "btn btn-default" %>
            </td>
            <% if user_signed_in? && @user.admin %>
              <td><%= link_to 'Edit', edit_menu_item_path(menu_item), class: "btn btn-warning" %></td>
              <td><%= link_to 'Delete', menu_item, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure? This cannot be undone' } %></td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>