<tr class="collapse" <%= "id=#{order.id}-details"%>>
 
    <td colspan="7">
      <div class="jumbotron">
        <p> Name: <%= order.name %> </p>
        <p> Type:  
          <% if order.delivery? %>
            Delivery
          <% else %> 
            Takeout
          <% end %>
        </p>
        <p> Phone: <%= number_to_phone(order.phone_number ,area_code: true) %>
			<% cart = order.cart %>
			<% cart_items = cart.cart_items %>

		<table class="table">
    <thead>
      <tr>
        <th> Item </th>
        <th> Qty </th>
        <th> Price </th>
      </tr>
    </thead>
    <tbody>
      <% cart_items.each do |item| %>
        <tr>
          <% menu_item = MenuItem.find(item.menu_item_id) %>
          <td><%= menu_item.name %></td>
          <td><%= item.qty %></td>
          <td><%= number_to_currency(menu_item.price, unit: '$') %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
	</td>
</tr>