<% if order.completed == false %>
	<% if order.in_progress == true %>
		<tr class="info">
	<% else %>
		<tr class="warning">
	<% end %>
<% else %>
	<tr class="success">
<% end %>
	<td><%= order.id %></td>
	<td><%= order.created_at.strftime("%m/%d/%y %l:%M%P") %></td>
	<td><%= order.name%></td>
	<td>
		<%= link_to "Details" , "##{order.id}-details" , 'aria-expanded' => "false" , 'aria-controls' => "#{order.id}-details" , 'data-toggle' => "collapse" , class: "btn btn-info" %>
	</td>	
	<td>
		<% if order.in_progress == false %>
			<%= link_to order_path(order, order: {in_progress: true}) , remote: true, method: :put , class: "no-hover hvr-grow" do %>
			<%= icon('square-o' , class: "fa-lg square-o add_subtract_buttons") %>
			<% end %>
		<% else %>
			<%= link_to order_path(order, order: {in_progress: false}) , remote: true, method: :put , class: "no-hover hvr-grow" do %>
			<%= icon('check-square-o' , class: "fa-lg check-square-o add_subtract_buttons") %>
			<% end %>
		<% end %>
	</td>

	<td>
		<% if order.completed == false %>
			<%= link_to order_path(order, order: {completed: true}) , remote: true, method: :put , class: "no-hover hvr-grow" do %>
			<%= icon('square-o' , class: "fa-lg square-o add_subtract_buttons") %>
			<% end %>
		<% else %>
			<%= link_to order_path(order, order: {completed: false}) , remote: true, method: :put , class: "no-hover hvr-grow" do %>
			<%= icon('check-square-o' , class: "fa-lg check-square-o add_subtract_buttons") %>
			<% end %>
		<% end %>
	</td>
</tr>

