<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, autofocus: true, class: "form-control"%>  
  </div>

  <div class="field form-group">
    <%= f.radio_button :delivery?, 'Delivery' , :checked => true %> 
    <%= f.label :delivery, 'Delivery' , :value => true %>
    <%= f.radio_button :delivery?, false %>
    <%= f.label :delivery_false, 'Takeout' , :value => true %>
  </div>

  <div class="field form-group">
    <%= f.label :address %>
    <%= f.text_area :address, class: "form-control"%>  
  </div>


  <div class="actions form-group">
    <%= f.submit "Add item", class: "btn btn-primary" %>
  </div>
  <% end %>
