 <script>
		jQuery(document).ready(function($) {
    	$('a[rel*=facebox]').facebox()
  	})
	</script>

<h1>Cart</h1>
<p>cart id: <%= @cart.id %></p>
<% cart_items = @cart.cart_items %>
<table class="table">
	<thead>
		<tr>
			<th> ID </th>
			<th> Name </th>
			<th> CartId </th>
			<th> MenuItemId </th>
			<th> Name </th>
			<th> Qty </th>
			<th> Price </th>
		</tr>
	</thead>
	<tbody>
		<% cart_items.each do |item| %>
			<tr>
				<td><%= item.id %></td>
				<td><%= item.name %></td>
				<td><%= item.cart_id %></td>
				<% menu_item = MenuItem.find(item.menu_item_id) %>
				<td><%= item.menu_item_id %></td>
				<td><%= menu_item.name %></td>
				<td>
					<%= link_to icon('minus-square' , class: "fa-lg add_subtract_buttons"), decrease_qty_path(:cart_item_id => item.id), :method => :post  , class: "no-hover hvr-grow"  %> 
					<%= item.qty %> 
					<%= link_to icon('plus-square' , class: "fa-lg add_subtract_buttons"), increase_qty_path(:cart_item_id => item.id), :method => :post , class: "no-hover hvr-grow" %>
				</td>
				<td><%= number_to_currency(menu_item.price, unit: '$') %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<p> sub total: <%= @cart.subtotal %> </p>

<% if current_cart.cart_items != nil && current_cart.cart_items.length > 0 %>
  <%= link_to "Checkout", '#checkout' , rel:"facebox"  %>
<% end %>

</div>

<div id="checkout", class="panel panel-default">
	<div class="panel-heading">
		<h1>Checkout</h1>
	</div>
	<div class-"panel-body">
		<div class="payment-form-padding">
		<%= render 'payment/form' %>
		</div>
	</div>
	<div class="panel-footer">
		<%= link_to "Edit your order", cart_path %>
	</div>
</div>
